<ServerManagerConfiguration>
  <ProxyGroup name="filters">
    <SourceProxy
      name="ttkMapper"
      class="ttkMapper"
      label="TTK Mapper">
      <Documentation
        long_help="TTK plugin for scalar field smoothing."
        short_help="TTK plugin for scalar field smoothing.">

        This class generates a mapper from a data-set with a given
        number of buckets. Data-set vertices and edges are placed into
        buckets from their input scalar field value then connected
        components are detected per bucket.

      </Documentation>
      <InputProperty
        name="Input"
        command="SetInputConnection">
        <ProxyGroupDomain name="groups">
          <Group name="sources"/>
          <Group name="filters"/>
        </ProxyGroupDomain>
        <DataTypeDomain name="input_type">
          <DataType value="vtkDataSet"/>
        </DataTypeDomain>
        <InputArrayDomain name="input_scalars" number_of_components="1" attribute_type="point">
          <Property name="Input" function="FieldDataSelection" />
        </InputArrayDomain>
        <Documentation>
          Data-set to smooth.
        </Documentation>
      </InputProperty>

      <StringVectorProperty
        name="ScalarFieldNew"
        label="Scalar Field"
        command="SetInputArrayToProcess"
        element_types="0 0 0 0 2"
        number_of_elements="5" default_values="0">
        <ArrayListDomain
          name="array_list"
          default_values="0">
          <RequiredProperties>
            <Property name="Input" function="Input" />
          </RequiredProperties>
        </ArrayListDomain>
        <Documentation>
          Select the scalar field to smooth.
        </Documentation>
      </StringVectorProperty>

      <IntVectorProperty
        name="NumberOfBuckets"
        label="Number of Buckets"
        command="SetNumberOfBuckets"
        number_of_elements="1"
        default_values="10" >
        <IntRangeDomain name="range" min="1" max="100" />
        <Documentation>
          Number of buckets.
        </Documentation>
      </IntVectorProperty>

      <IntVectorProperty
        name="ComputeHighDimBarycenters"
        label="Compute High Dimension Barycenters"
        command="SetComputeHighDimBarycenters"
        number_of_elements="1"
        default_values="0">
        <BooleanDomain name="bool"/>
        <Documentation>
          Also compute barycenters coordinates in high dimension space
          from coordinates scalar fields as point data.
        </Documentation>
      </IntVectorProperty>

      <IntVectorProperty
        name="SelectFieldsWithRegexp"
        label="Select Fields with a Regexp"
        command="SetSelectFieldsWithRegexp"
        number_of_elements="1"
        default_values="0">
        <BooleanDomain name="bool"/>
        <Hints>
          <PropertyWidgetDecorator type="GenericDecorator"
                                   mode="visibility"
                                   property="ComputeHighDimBarycenters"
                                   value="1" />
        </Hints>
        <Documentation>
          Select input scalar fields matching a regular expression.
        </Documentation>
      </IntVectorProperty>

      <StringVectorProperty command="SetHighDimCoords"
        clean_command="ClearHighDimCoords"
        label="Input High Dimension Coordinates"
        name="HighDimCoords"
        number_of_elements="0"
        default_values="1"
        number_of_elements_per_command="1"
        repeat_command="1">
        <ArrayListDomain name="array_list"
          default_values="1">
          <RequiredProperties>
            <Property name="Input"
              function="Input" />
          </RequiredProperties>
        </ArrayListDomain>
        <Hints>
          <NoDefault />
          <PropertyWidgetDecorator type="CompositeDecorator">
            <Expression type="and">
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="SelectFieldsWithRegexp"
                                       value="0" />
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="ComputeHighDimBarycenters"
                                       value="1" />
            </Expression>
          </PropertyWidgetDecorator>
        </Hints>
        <Documentation>
          Select the high dimension coordinates scalar fields.
        </Documentation>
      </StringVectorProperty>

      <StringVectorProperty
         name="Regexp"
         command="SetRegexpString"
         number_of_elements="1"
         default_values=".*"
         panel_visibility="advanced">
        <Hints>
          <PropertyWidgetDecorator type="GenericDecorator"
                                   mode="visibility"
                                   property="SelectFieldsWithRegexp"
                                   value="1" />
        </Hints>
         <Documentation>
            This regexp will be used to filter the chosen fields. Only
            matching ones will be selected.
         </Documentation>
      </StringVectorProperty>

      <PropertyGroup panel_widget="Line" label="Input options">
        <Property name="ScalarFieldNew" />
        <Property name="NumberOfBuckets" />
        <Property name="ComputeHighDimBarycenters" />
        <Property name="SelectFieldsWithRegexp" />
        <Property name="HighDimCoords" />
        <Property name="Regexp" />
      </PropertyGroup>

      ${DEBUG_WIDGETS}

      <OutputPort name="Skeleton Nodes" index="0" id="port0" />
      <OutputPort name="Skeleton Arcs" index="1" id="port1" />
      <OutputPort name="Segmentation" index="2" id="port2" />

      <Hints>
        <ShowInMenu category="TTK - High Dimension / Point Cloud Data" />
      </Hints>

    </SourceProxy>
  </ProxyGroup>
</ServerManagerConfiguration>
