<ServerManagerConfiguration>
  <ProxyGroup name="filters">
    <SourceProxy
      name="ttkMapper"
      class="ttkMapper"
      label="TTK Mapper">
      <Documentation
        long_help="TTK plugin for scalar field smoothing."
        short_help="TTK plugin for scalar field smoothing.">

        This class generates a mapper from a data-set with a given
        number of buckets. Data-set vertices and edges are placed into
        buckets from their input scalar field value then connected
        components are detected per bucket.

      </Documentation>
      <InputProperty
        name="Input"
        command="SetInputConnection">
        <ProxyGroupDomain name="groups">
          <Group name="sources"/>
          <Group name="filters"/>
        </ProxyGroupDomain>
        <DataTypeDomain name="input_type">
          <DataType value="vtkDataSet"/>
        </DataTypeDomain>
        <InputArrayDomain name="input_scalars" number_of_components="1" attribute_type="point">
          <Property name="Input" function="FieldDataSelection" />
        </InputArrayDomain>
        <Documentation>
          Input data-set.
        </Documentation>
      </InputProperty>

      <StringVectorProperty
        name="ScalarFieldNew"
        label="Scalar Field"
        command="SetInputArrayToProcess"
        element_types="0 0 0 0 2"
        number_of_elements="5" default_values="0">
        <ArrayListDomain
          name="array_list"
          default_values="0">
          <RequiredProperties>
            <Property name="Input" function="Input" />
          </RequiredProperties>
        </ArrayListDomain>
        <Documentation>
          Select the input scalar field.
        </Documentation>
      </StringVectorProperty>

      <IntVectorProperty
        name="NumberOfBuckets"
        label="Number of Buckets"
        command="SetNumberOfBuckets"
        number_of_elements="1"
        default_values="10" >
        <IntRangeDomain name="range" min="1" max="100" />
        <Documentation>
          Number of buckets.
        </Documentation>
      </IntVectorProperty>

      <IntVectorProperty
        name="ReEmbedMapper"
        label="Re-Embed Mapper"
        command="SetReEmbedMapper"
        number_of_elements="1"
        default_values="0">
        <BooleanDomain name="bool"/>
        <Documentation>
          Use Dimension Reduction to compute an embedding of the
          Mapper barycenters from their high-dimensional coordinates.
        </Documentation>
      </IntVectorProperty>

      <IntVectorProperty
        name="SelectMatrixWithRegexp"
        label="Select Matrix With Regexp"
        command="SetSelectMatrixWithRegexp"
        number_of_elements="1"
        default_values="0">
        <BooleanDomain name="bool"/>
        <Hints>
          <PropertyWidgetDecorator type="GenericDecorator"
                                   mode="visibility"
                                   property="ReEmbedMapper"
                                   value="1" />
        </Hints>
        <Documentation>
          Select input distance matrix Point Data arrays with a
          regular expression.
        </Documentation>
      </IntVectorProperty>

      <StringVectorProperty command="SetDistMat"
        clean_command="ClearDistMat"
        label="Input Distance Matrix"
        name="DistMat"
        number_of_elements="0"
        default_values="1"
        number_of_elements_per_command="1"
        repeat_command="1">
        <ArrayListDomain name="array_list"
          default_values="1">
          <RequiredProperties>
            <Property name="Input"
              function="Input" />
          </RequiredProperties>
        </ArrayListDomain>
        <Hints>
          <NoDefault />
          <PropertyWidgetDecorator type="CompositeDecorator">
            <Expression type="and">
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="SelectMatrixWithRegexp"
                                       value="0" />
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="ReEmbedMapper"
                                       value="1" />
            </Expression>
          </PropertyWidgetDecorator>
        </Hints>
        <Documentation>
          Select the input distance matrix scalar fields.
        </Documentation>
      </StringVectorProperty>

      <StringVectorProperty
        name="DistanceMatrixRegexp"
        label="Distance Matrix Regexp"
        command="SetDistanceMatrixRegexp"
        number_of_elements="1"
        default_values=".*">
        <Hints>
          <PropertyWidgetDecorator type="CompositeDecorator">
            <Expression type="and">
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="SelectMatrixWithRegexp"
                                       value="1" />
              <PropertyWidgetDecorator type="GenericDecorator"
                                       mode="visibility"
                                       property="ReEmbedMapper"
                                       value="1" />
            </Expression>
          </PropertyWidgetDecorator>
        </Hints>
        <Documentation>
          Select the Distance Matrix Point Data arrays with a regular
          expression.
        </Documentation>
      </StringVectorProperty>

      <IntVectorProperty name="ReductionAlgo"
                         label="Reduction Algorithm"
                         command="SetReductionAlgo"
                         number_of_elements="1"
                         default_values="2"
                         panel_visibility="default">
        <EnumerationDomain name="enum">
          <Entry value="0" text="Spectral Embedding"/>
          <Entry value="1" text="Locally Linear Embedding"/>
          <Entry value="2" text="Multi-Dimensional Scaling" />
          <Entry value="3" text="t-distributed Stochastic Neighbor Embedding"/>
          <Entry value="4" text="Isomap Embedding"/>
          <Entry value="5" text="Principal Component Analysis" />
        </EnumerationDomain>
        <Hints>
          <PropertyWidgetDecorator type="GenericDecorator"
                                   mode="visibility"
                                   property="ReEmbedMapper"
                                   value="1" />
        </Hints>
        <Documentation>
          Dimension Reduction algorithm to use.
        </Documentation>
      </IntVectorProperty>

      <IntVectorProperty
        name="LowerDimension"
        label="Lower Dimension"
        command="SetLowerDimension"
        number_of_elements="1"
        default_values="0">
        <EnumerationDomain name="enum">
          <Entry value="2" text="2D"/>
          <Entry value="3" text="3D"/>
        </EnumerationDomain>
        <Hints>
          <PropertyWidgetDecorator type="GenericDecorator"
                                   mode="visibility"
                                   property="ReEmbedMapper"
                                   value="1" />
        </Hints>
        <Documentation>
          Compute barycenters coordinates in high dimension space from
          coordinates scalar fields as point data, then use Dimension
          Reduction to project barycenters and high-dimension input
          points.
        </Documentation>
      </IntVectorProperty>

      <PropertyGroup panel_widget="Line" label="Input options">
        <Property name="ScalarFieldNew" />
        <Property name="NumberOfBuckets" />
        <Property name="ReEmbedMapper" />
        <Property name="SelectMatrixWithRegexp" />
        <Property name="DistMat" />
        <Property name="DistanceMatrixRegexp" />
        <Property name="ReductionAlgo" />
        <Property name="LowerDimension" />
      </PropertyGroup>

      ${DEBUG_WIDGETS}

      <OutputPort name="Skeleton Nodes" index="0" id="port0" />
      <OutputPort name="Skeleton Arcs" index="1" id="port1" />
      <OutputPort name="Segmentation" index="2" id="port2" />

      <Hints>
        <ShowInMenu category="TTK - High Dimension / Point Cloud Data" />
      </Hints>

    </SourceProxy>
  </ProxyGroup>
</ServerManagerConfiguration>
